<style>
    .Play_Again 
    {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Play_Again_Heading 
    {
        font-size: 20px;
        align-self: center;
    }
</style>
<div class="Play_Again" @onclick="InvokeOnPlayAgain">
    <h1 class="Play_Again_Heading">PLAY AGAIN</h1>
</div>
@code
{
    [Parameter]
    public EventCallback OnPlayAgain { get; set; }
    private async Task InvokeOnPlayAgain()
    {
        await OnPlayAgain.InvokeAsync();
    }
}