<style>
    .Bun_Select 
    {
        background-color: #FFCBA2;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #E38282;
    }

    .Bun_Select_Image 
    {
        padding-left: 10px;
        padding-top: 12px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
</style>

<div class="Bun_Select">
    <img src="/images/Toppings_Select.png" alt="Bun Select" class="Bun_Select_Image" />
</div>

@code
{

}